<a href="https://colab.research.google.com/github/steady-endeavor/study/blob/python_ML/2.5_function_%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def double(x):
  return x*2

double(5)

10

In [2]:
def f_1(a,b,c):
  return 100*a+10*b+c, a+b+c

x, y = f_1(1,2,3)
x, y

(123, 6)

In [3]:
def f_2(a,b=2,c=2):
  return 100*a+10*b+c

print(f_2(1))
print(f_2(5,8))
print(f_2(3,6,9))
print(f_2(c=4,a=9))

122
582
369
924

In [4]:
my_f=lambda x: x*10
my_f(4)

40

In [5]:
data = [1,2,3,4]
y = list(map(my_f, data))
y

[10, 20, 30, 40]

In [6]:
list(map(lambda i: i*10,data))

[10, 20, 30, 40]

In [8]:
import pandas as pd
x = {'city': ['서울', '부산', '대구', '대전', '광주'],
     'population': [990, 350, 250, 154, 150],
     'temp': [13, 16, 14, 13, 15],
     'cars' :[300, 120, 80, 90, 70]}

df = pd.DataFrame(x)
df

  city  population  temp  cars
0   서울         990    13   300
1   부산         350    16   120
2   대구         250    14    80
3   대전         154    13    90
4   광주         150    15    70

In [9]:
df[['population','temp']].apply(lambda x: x.mean())

population    378.8
temp           14.2
dtype: float64